* {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	box-sizing: border-box;
	list-style: none;
}

:root{
	--gradient: linear-gradient(rgb(17, 48, 118), rgb(19, 88, 153));
}

/* ===== Scrollbar CSS ===== */
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #113076;
    border-radius: 0px;
    border: 0px none #f4f1f1;
  }
/* ===== Scrollbar CSS ===== */


.content{
	display: flex;
	flex-flow: wrap;
	text-align: center;
}

body {
	background: rgb(113,150,176);
	background: linear-gradient(180deg, rgba(113,150,176,1) 0%, rgba(255,255,255,1) 100%);
}

/*HEADER*/
.header {
	color: white;
	display: flex;
	width: auto;
	/*background: #005aa7;*/
	background: var(--gradient);
	height: 75px;
	align-items: center;
	border-radius: 0 0 6px 6px;
	margin: 0 20px 0 20px;
}

.logo{
	width: 6em;
	margin-left: 120px;
	margin-top: 10px;
}

.texto{
	font-size: 30px;
	font-weight: bold;
	margin-left: auto;
    margin-right: auto;
}

/*ENDHEADER */

/*APIS*/

.aside {
	flex: 1;
	background: white;
	height: 80vh;
	border-radius: 6px;
	margin: 20px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 12px 0px;
}


.btn {
	height: 65px;
	width: 200px;
	color: white;
	margin-top: 14vh;
	align-items: center;
	background-color: #005aa7;
	font-size: 18px;
	border-radius: 8px;
	cursor: pointer;
}


.btn:hover {
	background-color: #113076;
	font-size: 18px;
	transform: scale(1.10);
}

/*END APIS*/




/*PRINCIPAL*/

.main {
	flex: 4;
	background: white;
	height: 80vh;
	border-radius: 6px;
	margin: 20px;
	align-items: center;
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 12px 0px;
}


#graf {
	padding-top: 10px;
	padding-bottom: 20px;
	width: 50%;
	margin-top: 10%;
	margin-left: 25%;
	color: black;
	font-size: 18px;
	border-radius: 6px;
	text-align: center;
	box-shadow: 0 0 10px 0 black;
	justify-content: center;
	align-items: center;
}



h1 {
	font-size: 1.2em;
	margin: 0.67em 0;
	font-weight: bold;
}

#clima {
	padding-top: 10px;
	padding-bottom: 20px;
	width: 50%;
	margin-top: 10%;
	margin-left: 25%;
	color: black;
	font-size: 18px;
	border-radius: 6px;
	text-align: center;
	box-shadow: 0 0 10px 0 black;
}

.card {
	display: block;
	text-align: left;
	color: white;
	margin: 12px 10px;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 12px 0px;
	padding: 16px;
	background: var(--gradient);
	width: auto;
}

.medio{
	display: flex;
	justify-content: space-between;
}

.tMax {
	font-weight: bold;
	font-size: 6rem;
	margin-left: -5px;
}

.foto{
	width: 20%;
	margin-right: 20px;
	-webkit-filter: drop-shadow(2px 2px 3px black);
}

.hora{
	opacity: 50%;
}

.cli{
	font-weight: bold;
	margin-top: -30px;
}

#strapi {
	padding-top: 10px;
	padding-bottom: 20px;
	width: 50%;
	margin-top: 15%;
	margin-left: 25%;
	color: black;
	font-size: 18px;
	border-radius: 6px;
	text-align: center;
	box-shadow: 0 0 10px 0 black;
}

.btnAzul {
	color: white;
	background-color: #005aa7;
	padding: 10px;
	border-radius: 6px;
	cursor: pointer;
}

#graficosChart{
	width: 80%;
	height: 400px;
	margin: 25px 0px 0px 10%;
}


#buscador{
    height: 25px;
    border-radius: 10px;
    display: block;
    border-color: transparent;
    margin-top: 20px;
}

.fas{
	font-size: 20px;
	color: black;
	padding-right: 10px;
}

aside .fas{
	font-size: 20px;
	color: white;
	padding-right: 10px;
}


#zona, #choiceStrapi, #datosStrapi{
	color: white;
	float: left;
	border: black;
    border-radius: 6px 0px 0px 6px;
    height: 25px;
    width: 80%;
    box-sizing: border-box;
    padding-left: 10px;
    background-color: #005aa7;
    cursor: pointer;
}

.tipoBlanca{
	color: white;
}


#btnBuscar{
	float: left;
	border: black;
	height: 25px;
  width: 20%;
  border-radius: 0px 6px 6px 0px;
  background-color: black;
  cursor: pointer;
}


.fa-search{
	color: white;
	font-weight: bold;
	font-size: 15px
}

.footer {
	color: white;
	background: var(--gradient);
	/*background: #005aa7;*/
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 12px 0px;
	height: 79px;
	border-radius: 6px 6px 0 0;
	margin: 0 20px 0 20px;
	text-align: right;
	font-size: 18px;
	padding: 2em;
}

.btnAccept {
	color: white;
	background-color: green;
	padding: 10px;
	border-radius: 6px;
	cursor: pointer;
}


.labelFecha {
	color: white;
	padding: 12px;
	min-height: 48px;
	width: auto;
  border-radius: 6px 0px 0px 6px;
  background-color: black;
  cursor: pointer;
}

.btnFecha {
	color: white;
	background-color: #005aa7;
	padding: 10px;
	border-radius: 0px 6px 6px 0px;
	cursor: pointer;
}